.chat-main
  .chat-main__group-info
    .group-info__name-bar
      .name-bar__name
        test
        .name-bar__member
          Member:masa
    .group-info__edit-btn
      = link_to '#', class:"edit-btn" do
        .edit-btn
          Edit
  .chat-main__message-list
    .message-list__header
      .header__name
        masa
      .header__date
        2019/11/20(Wed) 17:43:01
    .message-list__content
      おはよう！

    .message-list__header
      .header__name
        masa
      .header__date
        2019/11/20(Wed) 17:43:01
    .message-list__content
      今日から雨
  .chat-main__message-form
    %form{class: "form"}
      .message-form__input-box
        %input{type: "text",class: "input-box__text", placeholder: "type a message"}
        %label{class: "input-box__image"}
          =icon('fas', 'image')
          %input{type: "file", class:"image-select"}
      %input.input-box__send{type: "submit", :value => "Send"}