.message-box{data: {message: {id: message.id}}}
  .message-list
    .message-list__name
      = message.user.name
    .message-list__date
      = message.created_at.strftime("%Y年%m月%d日 %H時%M分")
  .main__content
    - if message.content.present?
      %p.Message__content
        = message.content
        = image_tag message.image.url, class: 'Message__image' if message.image.present?