.side-bar
  .side-bar_header
    .top-items
      .top-items__name
        = current_user.name
      .top-items__items
        = link_to '/groups/new' do
          =icon('fas','edit')
        = link_to '#' do
          =link_to edit_user_path(current_user) do
            =icon('fas','cog')
  .side-bar_group-list
    .group-list
      .group-list__name
        techcamp
      .group-list__message
        まだメッセージがありません
    .group-list
      .group-list__name
        techcamp
      .group-list__message
        まだメッセージがありません