.side-bar
  .side-bar_user-name
    .top-items
      .top-items__name
        masa
      .top-items__items
        = link_to '#' do
          =icon('fas','edit')
        = link_to '#' do
          =icon('fas','cog')
  .side-bar_group-list
    .group-list
      .group-list__name
        techcamp
      .group-list__message
        まだメッセージがありません
    .group-list
      .group-list__name
        techcamp
      .group-list__message
        まだメッセージがありません