* {
  box-sizing: border-box;
}

.wrapper{
  display: flex;
  .side-bar{
    .side-bar_user-name {
      background-color: #253141;
      width: 300px;
      height: 100px;
      font-size: 16px;
      color: #ffffff;
      font-weight: bold;
      display: flex;
      align-items: center;
      .top-items{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 260px;
        margin: 0 20px;
        .top-items__items{
          width: 60px;
          display: flex;
          justify-content: flex-end;
          .fa-edit{
            color: #ffffff;
            margin: 0 5px 0 0;
          }
          .fa-cog{
            color: #ffffff;
          }
        }
      }
    }
    .side-bar_group-list{
      background-color: #2f3e51;
      width: 300px;
      height: calc(100vh - 100px);
      .group-list__name{
        padding: 20px 20px 5px 20px;
        font-size: 15px;
        color: #ffffff;
        font-weight: bold;
      }
      .group-list__message{
        padding: 0 20px 40px 20px;
        font-size: 11px;
        color: #ffffff;
        font-weight: bold;
      }
    }
  }
  
  .chat-main{
    .chat-main__group-info {
      display: flex;
      justify-content: space-between;
      background-color: #ffffff;
      width: 100vw;
      height: 100px;
      .group-info__name-bar{
        .name-bar__name{
          display: flex;
          flex-direction: column;
          margin: 35px 0 15px 40px;
          color: #333333;
          font-size: 20px;
          .name-bar__member{
            color: #999999;
            font-size: 12px;
          }
        }
      }
      .group-info__edit-btn{
        padding: 28px 20px 0    20px;
        margin : 0    40px 72px 0   ;
        font-size: 16px;
        .edit-btn{
          color: #38aef0;
          font-size: 16px;
        }
      }
    }
    .chat-main__message-list{
      background-color: #fafafa;
      width: 100vw;
      height: calc(100vh - calc(100px + 90px));
      display: flex;
      flex-direction: column;
      .message-list__header{
        display: flex;
        align-items: center;
        margin:35px 0 12px 40px;
        .header__name{
          color: #333333;
          font-size: 16px;
        }
        .header__date{
          color: #999999;
          font-size: 12px;
          margin: 10px;
        }
      }
      .message-list__content{
        color: #434A54;
        font-size: 14px;
        margin:0 0 46px 40px;
      }
    }
    .chat-main__message-form{
      background-color: #d2d2d2;
      width: 100vw;
      height: 90px;
    }
  }
}



