* {
  box-sizing: border-box;
}

.wrapper{
  display: flex;
  .side-bar{
    .side-bar_header {
      background-color: #253141;
      width: 300px;
      height: 100px;
      font-size: 16px;
      color: #ffffff;
      font-weight: bold;
      display: flex;
      align-items: center;
      .top-items{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 260px;
        margin: 0 20px;
        .top-items__items{
          width: 60px;
          display: flex;
          justify-content: flex-end;
          .fa-edit{
            color: #ffffff;
            margin: 0 5px 0 0;
          }
          .fa-cog{
            color: #ffffff;
          }
        }
      }
    }
    .side-bar_group-list{
      background-color: #2f3e51;
      width: 300px;
      height: calc(100vh - 100px);
      .group-list__name{
        padding: 20px 20px 5px 20px;
        font-size: 15px;
        color: #ffffff;
        font-weight: bold;
      }
      .group-list__message{
        padding: 0 20px 40px 20px;
        font-size: 11px;
        color: #ffffff;
        font-weight: bold;
      }
    }
  }
  
  .chat-main{
    width: calc(100vw - 300px);
    .header {
      display: flex;
      justify-content: space-between;
      background-color: #ffffff;
      height: 100px;
      .group-info{
        .group-info__name{
          display: flex;
          flex-direction: column;
          margin: 35px 0 15px 40px;
          color: #333333;
          font-size: 20px;
          .group-info__member{
            color: #999999;
            font-size: 12px;
            display: flex;
            .users{
              padding-left: 10px;
            }
          }
        }
      }
      .group-info__edit-btn{
        padding: 28px 20px 0    20px;
        margin : 0    40px 72px 0   ;
        font-size: 16px;
        .edit-btn{
          color: #38aef0;
          font-size: 16px;
        }
      }
    }
    .main{
      background-color: #fafafa;
      padding: 35px 40px 0;
      height: calc(100vh - 100px - 90px);
      display: flex;
      flex-direction: column;
      overflow: scroll;
      .message-box{
        display: flex;
        flex-direction: column;
        margin-bottom: 46px;
        .message-list{
          display: flex;
          align-items: center;
          .message-list__name{
            color: #333333;
            font-size: 16px;
          }
          .message-list__date{
            color: #999999;
            font-size: 12px;
            padding-left: 10px;
          }
        }
      }
      .main__content{
        display: flex;
        flex-direction: column;
        margin-top: 12px;
        p{
        color: #434A54;
        font-size: 14px;
        }
      }
    }
    
    .footer{
      background-color: #dddddd;
      width: calc(100vw - 300px);
      height: 90px;
      padding: 20px 50px 20px 40px;
      .footer_box{
        width: 100%;
        display: flex;
        align-items: center;
        .form{
          display: flex;
          justify-content: space-between;
          .input-box{
            position: relative;
            width: 100%;
            .input-box__text{
              border: none;
              padding: 0 45px 0 15px;
              height: 50px;
              width: 100vh
            }
            .input-box__image{
              position: absolute;
              background-color: #fff;
              height: 50px;
              right: 10px;
              .input-box__icon{
                line-height: 50px;
                font-size: 25px;
              }
            }
            .Hidden{
              display: none;
            }
          }
          .form__send{
            background-color: #38aef0;
            border: none;
            color: #fff;
            font-size: 16px;
            height: 50px;
            margin-left: 15px;
            padding: 0 30px;
          }
        }
      }
    }
  }
}



